<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Rainforest Express" }}</title>
  <link rel="icon" href="/test.ico" type="image/x-icon">

  <link rel="stylesheet" href="/govuk-assets/govuk-frontend.min.css">

  <script src="/govuk-assets/all.bundle.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>

</head>
<body class="govuk-template__body">

  <main class="govuk-main-wrapper" id="main-content">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
